# Lesson 4
## The Import System

### Types

In [55]:
def print_value_and_type(value):
  type_of_value = type(value)
  print(f'Value = {value} | Type = {type_of_value}')

In [56]:
print_value_and_type(42)
print_value_and_type(24.69)
print_value_and_type('Hello world')
print_value_and_type(True)
print_value_and_type([])

Value = 42 | Type = <class 'int'>
Value = 24.69 | Type = <class 'float'>
Value = Hello world | Type = <class 'str'>
Value = True | Type = <class 'bool'>
Value = [] | Type = <class 'list'>

### Imports

In [57]:
from random import randrange, seed

In [58]:
seed(69)
random_numbers = []

for i in range(10):
  random = randrange(1, 11)
  random_numbers.append(random)
  
  position_format = str(i + 1).rjust(2, '0')
  random_format = str(random).rjust(2, '0')
  print(f'{position_format}.: {random_format}')
random_numbers

01.: 01
02.: 02
03.: 03
04.: 02
05.: 10
06.: 06
07.: 06
08.: 09
09.: 07
10.: 08

[1, 2, 3, 2, 10, 6, 6, 9, 7, 8]

In [59]:
len(random_numbers)

10

### Lists in Python

In [60]:
items = ['int', False, 0.7, 2022]

In [61]:
for item in items:
 print(type(item))

<class 'str'>
<class 'bool'>
<class 'float'>
<class 'int'>